<div class="row">
    <div class="span12">
        <div class="hero-unit">
            <h1>Deploy typeset from the web!</h1>
            <p>Deploy the latest typeset in seconds.</p>
             <p>
                <a class="btn btn-primary btn-large" href="#more">Learn More</a>
            </p>
        </div>
    </div>
</div>

<div id="more" class="row">
    <div class="span12">
        <p></p>
    </div>
</div>