<div class="row">
    <div class="span12">

        <div class="hero-unit">
            <h1>Unsuccessful!</h1>
            <p>Typeset was unable to deploy to your platform provider!</p>
            <p>
                <a class="btn btn-primary btn-large" href="@Url.Action("Index", "Home")">Home</a>
            </p>
        </div>

    </div>
</div>