.quick-links {
    list-style: none outside none;
    margin: 0;
    min-height: 30px;
    overflow: hidden;
    padding: 5px 20px;
    text-align: center;
}

.quick-links li {
    color: #999999;
    display: inline;
    margin: 0 5px;
}

.icon-github-octocat {
    background-image: url("http://markdotto.github.com/github-buttons/github-icons.png");
    background-position: 0px 0px;
}

.thumbnail img
{
    zoom: 1;
	filter: alpha(opacity=75);
	opacity: 0.75;
}

.thumbnail img:hover
{
    zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1.0;
}